.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
  
}

.content-container {
    width: 100%;
    text-align: center;
}

.content-container *{
  width: 100%;
  z-index: 1000;
}