.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
  
}

.content-container {
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 40%;
}

.content-container *{
  width: 100%;
  z-index: 1000;
}

.chestiile {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url(../../assets/images/dreapta-jos.svg) 100% 100%, url(../../assets/images/stanga-sus.svg) 0% 0%;
  background-repeat: no-repeat;
}