<div style="position:absolute;z-index:-1;top:0;left:0;background-color:#fff;width: 100vw;height: 100vh;"></div>
<div class="container">
    <div class="content-container">       
        <img src="../assets/images/landing.svg"style="margin-top: 40%;margin-bottom: 10px;width: 70%;">
        <p class="mat-headline">Fă-ți prieteni printre spirite</p>
        <p  style="margin-top: -15px">Intră în cont și începe să cunoști!</p>
        <button style="width:70%;height: 51px;background: linear-gradient(90deg, #F9C93A 0%, #ED1C24 100%);
        border-radius: 90px;border-color:transparent; color:#FFF; font-family:Montserrat; margin-bottom:10px;" (click)="login()" >FACEBOOK LOGIN</button>
        <img src="../assets/images/logoLSAC.svg" style="width: 30%; margin-top: 20%; margin-left: 35%; margin-right: 35%;">
    </div>
</div>