<img src="../assets/images/stanga-sus.svg" style="width:10%;left:0!important;top:0 !important; margin:0px;padding:0px;">
            <img src="../assets/images/dreapta-jos.svg" style="width:10%;">
<div class="container">
    <div class="content-container">
            
        <img src="../assets/images/ghost.svg" style="width: 100%;">
        <p class="mat-headline">Fă-ți prieteni printre spirite</p>
        <p class="mat-title" style="margin-top: -15px">Intră în cont și începe să cunoști!</p>
        <button style="width:70%;height: 51px;background: linear-gradient(to right, #464692 0%,#7272ea 100%);;
        border-radius: 100px;border-color:transparent; color:#FFF; font-family:Montserrat; margin-bottom:10px;" (click)="login()" >FACEBOOK LOGIN</button>
        <button style="width:70%;height: 51px;background: linear-gradient(90deg, #464692 0%, #7272EA 100%);
        border-radius: 100px;border-color:transparent; color:#FFF; font-family:Montserrat;"  (click)="logout()">LOG OUT</button>
    </div>
</div>