.example-header-image {
    background-size: 100% 100%;
    height: 45px;
    width: 45px;
}
.mat-card-avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    flex-shrink: 0;
}
.nameTrim
{
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    font-weight: 450;
}