<div >
    <div>
        <form action="#" #meetupForm="ngForm" (ngSubmit)="SaveAnswers(meetupForm)">
            <ul>
                    
                <li *ngFor="let item of questions; let iQuestion = index" >
                        
                   
                    <ul>
                      <mat-card>  <span style="font-weight: 600;font-size:1.125em;color:#484848;">{{item.question}}</span>
                        <mat-radio-group>
                                 
                                 
                        <li *ngFor="let answer of item.answers; let iAnswer = index">
                            <div [ngSwitch]="item.multianswer">
                                <div *ngSwitchCase="true">
                                        <mat-checkbox>{{answer.value}}</mat-checkbox>

                                    
                                </div>
                                <div *ngSwitchCase="false">
                                    <mat-radio-button style="margin-top:10px;" type="radio" name="{{iQuestion}}" id="a{{iQuestion}}{{iAnswer}}" value="{{iAnswer}}" ngModel>{{answer.value}}</mat-radio-button>
                                    
                                </div>
                            </div>
                        </li>
                    
                    </mat-radio-group></mat-card>
                    </ul>
                
                </li>
            
            </ul>
            <button style="width:100%;background: linear-gradient(90deg, #464692 0%, #7272EA 100%);
            border-radius: 100px;" mat-flat-button color="accent">Accent</button>
        </form>
    </div>
</div>


