.personpicture{
    border-radius: 7px;
    width: 100%;
    height:auto;
}

.rentaglepurple{
    background: linear-gradient(180deg, rgba(174, 174, 174, 0.5) 0%, rgba(127, 127, 128, 0.5) 100%);
    border-radius: 10px;
    top: 20%;
    height: 300px;
    z-index: -9999;
    position:absolute;
    opacity:0.2;
    width: 96%;
    margin-left: 2%;

}

.container-persoana{
    position:relative;
    width:100%;

}
mat-expansion-panel{
    bottom: 5%;
    position: absolute;
    margin-left: 3%;
    border-radius: 10px;
    width:94%;

}
mat-expansion-panel-header{

    border-radius: 10px;
}
.butonexpand{
    float:right;
    position:absolute;
    right:0;
}

@keyframes BUTON_EXPAND {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

@-webkit-keyframes BUTON_EXPAND {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

.expand-img {
    transition: all .3s;
}
.expand-img :focus {
    animation: BUTON_EXPAND .5s;
}
.rotate{
    transform: rotateZ(180deg);
}