<app-home></app-home>
<router-outlet></router-outlet>

<ng-template #fbDialog>
    <h2 matDialogTitle>Salutare</h2>
    <div mat-dialog-content>
        <p>Ne dorim sa iti oferim cea mai bun experienta si astfel iti recomandam sa folosesti browser-ul nativ al telefonul</p>
        <p>Pentru a face asta, cauta butonul de Optiuni si selecteaza Deschide in ...</p>
      </div>
    <mat-dialog-actions>
        <button mat-button matDialogClose="yes">Inchide</button>
    </mat-dialog-actions>
</ng-template>