<div class="container-persoana">
<!-- <mat-accordion> -->
    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [hideToggle]="true"> -->
        <!-- <mat-expansion-panel-header> -->
            <!-- <mat-panel-title> -->
                <!-- <p>{{ person.profile?.displayName }}</p> -->
                <!-- <span class="butonexpand"><img src="../assets/images/arrow.svg" class="expand-img" [class.rotate]="!panelOpenState"></span> -->
            <!-- </mat-panel-title> -->
            
        <!-- </mat-expansion-panel-header> -->
        <!-- <p>I'm visible because I am open</p> -->
    <!-- </mat-expansion-panel> -->
<!-- </mat-accordion> -->
    <img class="personpicture" src="{{ person.profile?.displayImages[0] }}">
   
</div>