.top-menu{
    width:100%;
    margin: 0;
    padding: 0;
    height: 150px;
}

.icon-container {
    position: relative;
    display: inline-block;
    width: 47%;
    margin-right: 6%;
    height: 100%;
}

.icon-container:last-child {
    margin-right: 0px;
}

.icon {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.icon:hover {
    height: 110%;
}