.top-menu{
    width:100%;
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
}

.icon-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xButton {
    background-color: #8D3378;
}

.loveButton {
    background-color: #ED1C24;
}