<div class="example-container">
  <mat-form-field>
    <label for="favP">Cine este Presedintele tau preferat?</label>
    <input matInput  type="text" id="favP" name="favP" [(ngModel)]="favP" required>
  </mat-form-field>

  <mat-form-field>
    <label for="name">Cine esti tu?</label>
    <input matInput type="text" id="name" name="name" [(ngModel)]="name" required >
  </mat-form-field>

  <mat-form-field>
    <label for="pass">Parola?</label>
    <input matInput type="password" id="pass" name="pass" [(ngModel)]="pass" required>
  </mat-form-field>

  <button mat-button type="submit" (click)="onSubmit()" >Submit!</button>
</div>

<div class="messagesContainer">
  <div *ngFor="let person of persons" class="last">
      <div class="img-container" style="width: 50px; background-size: 100%; height: 50px; border-radius: 50%; margin: 10px;" [ngStyle]="{ 'background-image': 'url(' + person.displayImages[0] + ')' }">
      </div>
      <div style="max-width: 60%; border-radius: 25px; margin-top: 10px; margin-bottom: 10px; padding: 10px 20px;">
          {{ person.displayName }}
      </div>
  </div>
</div>