<div *ngIf="!!this.otherPerson" class="nameContainer">
  <div class="imgProfile" [ngStyle]="{ 'background-image': 'url(' + otherPerson.displayImages[0] + ')' }"></div>  
  <span class="nameProfile">{{ otherPerson.displayName }}</span>
</div>

<div class="messagesContainer">
  <div *ngFor="let message of messages" class="last">
    <div class="messageContainer" [ngClass]="{'sender': !message.type, 'receiver': message.type}">
      <div class="img-container" [ngStyle]="{ 'background-image': 'url(' + getImage(message.type) + ')' }">
      </div>
      <div class="messageText" [ngClass]="{'sent': !message.type, 'received': message.type}">
          {{ message.message }}
      </div>
    </div>
  </div>
</div>

<div class="controlsContainer">
  <input class="controlInput" id="mesaj" type="text" id="message" (keyup.enter)="chatSend()" [(ngModel)]="msgVal">
  <button (click)="chatSend()" mat-icon-button>
      <mat-icon class="controlIcon" svgIcon="send" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
  </button>
</div>

  