.sent {
    color: white;
    background-color: #464692;
}

.received {
    color: #262626;
    background-color: #e8e8e8;
}

.receiver {
    flex-direction: row-reverse;
}

.last:last-child {
    margin-bottom: 100px;
}
.messagesContainer {
    padding-top:70px;
}

.top-menu{
    width:100%;
    margin: 0;
    padding: 0;
    height: 72px;
    position: fixed;
    background-color: #464692;
    color: white;
}

.back-container {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-right: 0%;
    height: 100%;
}

.icon {
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}