.sent {
    color: white;
    background-color: #4F89CE;
}

.received {
    color: #262626;
    background-color: #e8e8e8;
}

.receiver {
    flex-direction: row-reverse;
}

.last:last-child {
    margin-bottom: 100px;
}
.nameContainer
{
    background-color:#fff;
    margin-bottom: 10px;
    padding: 10px;
    width:100%;
}
.imgProfile{
    width:60px;
    height:60px;
    border-radius:50px;
    display: inline-block;
}