.top-menu{
    width:100%;
    margin: 0;
    padding: 0;
    height: 8vh;
    display: flex;
}

.icon-container {
    width: 33.3%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkText {
    font-size: 10px;
    margin-top: 3px;
}

.vote{
    background-image:url("../../../assets/images/vote.svg");
    width:25px;
    height: 21px;
}
.vote.active{
    background-image:url("../../../assets/images/vote-color.svg");
  
}
.prizes{
    background-image:url("../../../assets/images/prizes.svg");
    width:20px;
}
.prizes.active{
    background-image:url("../../../assets/images/prizes-color.svg");
  
}
.swipe{
    background-image:url("../../../assets/images/swipes.svg");
    width:30px;
    height:20px;
}
.swipe.active{
    background-image:url("../../../assets/images/swipes-color.svg");
  
}
.messages{
    background-image:url("../../../assets/images/messages.svg");
    width:20px;
    height: 18px;
}
.messages.active{
    background-image:url("../../../assets/images/messages-color.svg");
  
}