<div class="top-menu" *ngIf="visible">
    <img class="top-background">
  <!-- <div class="icon-container">
      <object type="image/svg+xml" data="../assets/images/profile.svg" class="icon">
      </object>
  </div> -->
  <div class="icon-container">
      <span class="icon vote"  routerLink="/vote" [class.active]="activeLinkIndex === 0" ></span>
  </div>
  <div class="icon-container">
        <span class="icon prizes"  routerLink="/tombole" [class.active]="activeLinkIndex === 1" ></span>
</div>
<div class="icon-container">
        <span class="icon swipe"  routerLink="/swipe" [class.active]="activeLinkIndex === 2" ></span>
</div>
  
  <div class="icon-container">
        <span class="icon messages"  routerLink="/matches" [class.active]="activeLinkIndex === 3" ></span>
  </div>
</div>