.top-menu{
    width:100%;
    margin: 0;
    padding: 0;
    height: 72px;
    position: relative;
}

.top-background {
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

.icon-container {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-right: 0%;
    height: 100%;
    background-color:#fff;
}

.icon-container:last-child {
    margin-right: 0px;
}

.icon {
    height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.active {
    height: 30%;
    color:red;
    fill: red;
}
.vote{
    background-image:url("../../../assets/images/vote.svg");
    width:25px;

}
.vote.active{
    background-image:url("../../../assets/images/vote-color.svg");
  
}
.prizes{
    background-image:url("../../../assets/images/prizes.svg");
    width:20px;
   

}
.prizes.active{
    background-image:url("../../../assets/images/prizes-color.svg");
  
}
.swipe{
    background-image:url("../../../assets/images/swipes.svg");
    width:30px;
    height:28%;
   

}
.swipe.active{
    background-image:url("../../../assets/images/swipes-color.svg");
  
}
.messages{
    background-image:url("../../../assets/images/messages.svg");
    width:20px;
    height: 25%;
   

}
.messages.active{
    background-image:url("../../../assets/images/messages-color.svg");
  
}